<div class="container ancho">
  <div class="row">
    <div class="form-group">
    <div class="alert alert-danger errors" role="alert" style="display: none">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <br>
      <form class="form" action="/add_todo" method="post">
        <input type="text" class="form-control" name="todo_content" placeholder="Put your todo item here!" value="" />
        <br>
        <input type="submit" class="btn btn-success" value="Add Todo"/>
      </form>     
    </div>
  </div>
  <br>
  <div class="row">
   <table class="table table-hover" id="table-1">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Completed</th>
          <th>Acciones</th>
        </tr>
          <% @todos.each do |todo| %>
        <tr id="<%= todo.id %>">
          <td><%= todo.id %></td>
          <td><%= todo.todo_content %></td>
          <td><%= todo.completed %></td>
          <td>
            <a class="complete btn btn-primary" href="/todo/<%= todo.id %>/completed">Complete</a>
            <a class="delete btn btn-danger" href="/todo/<%= todo.id %>/delete">Eliminar</a>
          </td>
          <% end %>
        </tr>
      </table> 
  </div>  
</div>